{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <form method='post'>
        {% csrf_token %}
        <br>
        <p align="center" style="font-size:200%;"><b>Registrace turnaje</b></p>
        <br>
        <table align="center">

        <p align="center">Zvolte formát turnaje: </p>
        <input type="radio" align="center" name="type_S/T" value="male"> <b>Jednotlivci</b></input>
        &#09;&#09;
        <input type="radio" align="center" name="type_S/T" value="female"> <b>Týmy</b><br>

        {% for field in form %}
        
          <tr>
              <td  align="right"> <b> {{ field.label }}</b></td>
              <td>&nbsp;&nbsp;</td>
              <td>{{ field }}</td>
          </tr>
          <tr>
            <td>&nbsp</td>
          </tr>

        {% endfor %}
        
        <tr>
            <td></td>
            <td></td>
            <td><button type="submit" align="center" class="btn btn-outline-success">Vytvoř turnaj</button></td>
        </tr>   
      </table>
      
    </form>

<script type="application/javascript">
        $(function () {
          $("#id_start_date").datepicker({
            format:'yyyy-mm-dd',
          });
          $("#id_end_date").datepicker({
            format:'yyyy-mm-dd',
          });
          $("#id_reg_deadline").datepicker({
            format:'yyyy-mm-dd',
          });
        });
      </script>

{% endblock %}
