{% extends 'base.html' %}

{% block content %}

<script> 
  function convertDateFormat(oldDate){
    // from 2019-11-13 (yyyy-mm-dd) to 11-13-2019 (mm-dd-yyyy)
    var newDate = oldDate.substr(5, 6) + '-' + oldDate.substr(0, 4); 
    return newDate;
  }

  function checkDateSyntax(date, field) {
    var re = new RegExp(/^\d{4}-\d{2}-\d{2}$/);
    if (!date.match(re)) {
      alert ("\nPole " + field + " musí být ve formátu rrrr-mm-dd!");
      return false;
    }else{
      return true;
    }
  }

  function checkValues(form) { 
      capacity = form.capacity.value;
      entryFee = form.entry_fee.value;
      startDate = form.start_date.value;
      endDate = form.end_date.value;
      regEndDate = form.reg_deadline.value;

      if (entryFee < 0) {
        alert ("\nRegistrační poplatek nemůže být záporný!!"); 
        return false;   
      }else if (capacity < 3) { 
        alert ("\nOčekávaná kapacita turnaje je pro 3 a více hráčů!") 
        return false; 
      }
      if ( !checkDateSyntax(startDate, "Začátek") || !checkDateSyntax(endDate, "Konec") || !checkDateSyntax(regEndDate, "Konec registrací")){
        return false;
      }

      var today = new Date();
      var todaysDate = String(today.getDate()).padStart(2, '0') + '-' + String(today.getMonth() + 1).padStart(2, '0') + '-' + today.getFullYear();
      
      var a = new Date(String(convertDateFormat(regEndDate)));
      var b = new Date(String(convertDateFormat(startDate)));
      var c = new Date(String(convertDateFormat(endDate)));
      if( a.getTime() < b.getTime() <= c.getTime()){
        alert("V pořádku!" + convertDateFormat(regEndDate) + "  " + convertDateFormat(startDate) + "  " + convertDateFormat(endDate));
        return false;
      }else{
        alert("Něco není v pořádku");
        return false;
      }

  }
</script> 

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Jednotlivci</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/add_tournament_t/">Týmy</a>
  </li>
</ul>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <form onSubmit = "return checkValues(this)" method='post'>
        {% csrf_token %}
        <br>
        <p align="center" style="font-size:200%;"><b>Vytvoření  turnaje</b></p>
        <br>
        <table align="center">

      <tr>
          <td></td>
          <td></td>
          <td></td>
      </tr>
        {% for field in form %}
        
          <tr>
              <td  align="right"> <b> {{ field.label }}</b></td>
              <td>&nbsp;&nbsp;</td>
              <td>{{ field }}</td>
          </tr>
          <tr>
            <td>&nbsp</td>
          </tr>

        {% endfor %}
        
        <tr>
            <td></td>
            <td></td>
            <td><button type="submit" align="center" class="btn btn-outline-success">Vytvořit</button></td>
        </tr>   
      </table>
      
    </form>

<script type="application/javascript">
        $(function () {
          $("#id_start_date").datepicker({
            format:'yyyy-mm-dd',
          });
          $("#id_end_date").datepicker({
            format:'yyyy-mm-dd',
          });
          $("#id_reg_deadline").datepicker({
            format:'yyyy-mm-dd',
          });
        });
      </script>

{% endblock %}
