{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <form method='post'>
        {% csrf_token %}
        <br>
        <br>
        <table align="center">
        {% for field in form %}
        
          <tr>
              <td class="titles" align="right">  {{ field.label }}</td>
              <td>{{ field }}</td>
          </tr>

        {% endfor %}
      </table>

        <button type="submit" class="btn btn-outline-success">Vytvoř turunaj</button>
    </form>
  </div>
</div>

<script type="application/javascript">
        $(function () {
          $("#id_start_date").datepicker({
            format:'yyyy-mm-dd',
          });
          $("#id_end_date").datepicker({
            format:'yyyy-mm-dd',
          });
          $("#id_reg_deadline").datepicker({
            format:'yyyy-mm-dd',
          });
        });
      </script>

{% endblock %}
