{% extends 'base.html' %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/add_tournament_s/">Jednotlivci</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Týmy</a>
  </li>
</ul>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <form method='post'>
        {% csrf_token %}
        <br>
        <p align="center" style="font-size:200%;"><b>Vytvoření  turnaje</b></p>
        <br>
        <table align="center">

      <tr>
          <td></td>
          <td></td>
          <td></td>
      </tr>
        {% for field in form %}
        
          <tr>
              {% if field.label == "Popis" or field.label == "Startovné" %}
              <td  align="right"> <b> {{ field.label }} </b></td>
              {% else %}
              <td  align="right"> <b> {{ field.label }} <font color="red">*</font></b></td>
              {% endif %}
              <td>&nbsp;&nbsp;</td>
              <td>{{ field }}</td>
          </tr>
          <tr>
            <td>&nbsp</td>
          </tr>

        {% endfor %}
        
        <tr>
            <td></td>
            <td></td>
            <td><button type="submit" align="center" class="btn btn-outline-success">Vytvořit</button></td>
        </tr>
        <p align="left"><font color="red" size="-1"><b>Pole označená * jsou povinná.</b></font></p>   
      </table>
      
    </form>

<script type="application/javascript">
        $(function () {
          $("#id_start_date").datepicker({
            format:'yyyy-mm-dd',
          });
          $("#id_end_date").datepicker({
            format:'yyyy-mm-dd',
          });
          $("#id_reg_deadline").datepicker({
            format:'yyyy-mm-dd',
          });
        });
      </script>

{% endblock %}
