{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bracket.css' type='text/css' %}">
{% endblock %}
{% block content %}
<h1>{{tournament.name}}</h1>

<main id="tournament">
        {% for stage in stages %}
        <ul class="round round-{{stage}}">
            {% for game in games %}
                {% if game.stage == stage %}
                    <li class="spacer">&nbsp;</li>
                    <li class="game game-top {% if game.winner == team_1 %}winner{% endif %}">{{game.team_1.name}} </li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom {% if game.winner == team_2 %}winner{% endif %}">{{game.team_2.name}} </li>
                {% endif %}
            {% endfor %}
                    <li class="spacer">&nbsp;</li>
        </ul>
        {% endfor %}
</main>

{% endblock %}