{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <br>
        <br>
        <h1 align="center">Hry turnaje</h1><br>
        <table align="center" border="1" style="table-layout: fixed; width: 40rem; border-collapse: collapse;">
            <tr>
                <td align="center"><b>Vítěz</b></td>
                <td align="center"><b>Tým č.1</b></td>
                <td align="center"><b>Tým č.2</b></td>
                <td align="center"><b>Stůl</b></td>
            </tr>

            {% for stage in stages %}
                {% for game in games %}
                    {% if game.stage == stage %}
                        <tr>
                            <td align="center">{{ game.winner.name }}</td>
                            <td align="center">{{ game.team_1.name }}</td>
                            <td align="center">{{ game.team_2.name }}</td>
                            <td align="center">{{ game.table.name }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                    </table>
            {% endfor %}
       

    </div>
</div>
{% endblock %}