{% extends 'base.html' %}
{% block content %}

<div class="row">
    
        <br>
        <br>
        <h1 align="center">Hry turnaje</h1><br>
        <table align="center" border="1" style="table-layout: fixed; width: 40rem; border-collapse: collapse;">
            <tr>
                <td align="center"><b>Tým č.1</b></td>
                <td align="center"><b>Tým č.2</b></td>
                <td align="center"><b>Stůl</b></td>
                <td align="center"><b>Vítěz</b></td>
            </tr>

            {% for stage in stages %}
                {% for game in games %}
                    {% if game.stage == stage %}
                        {% if game.team_1 %}
                        <tr>
                            <td align="center">{{ game.team_1.name }}</td>
                            <td align="center">{{ game.team_2.name }}</td>
                            <td align="center">{{ game.table.name }}</td>
                            <td align="center">
                                <div class="dropdown">
                                    <button class="btn bg-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      {{% if game.winner %}} {{ game.winner }} {{% else %}} Zadejte vítěze {{% endif %}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Action</a>
                                      <a class="dropdown-item" href="#">Another action</a>
                                      <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                    </table>
            {% endfor %}
       

    
</div>
{% endblock %}