{% extends 'base.html' %}

{% block head %}
<title>Kulečníkové turnaje</title>
{% endblock %}

{% block content %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% load static %}
<style type="text/css">

.top-margin {
    margin-top: 10rem;
}
.center-block {
    display: table;
    margin: auto;
}

</style>
<div class="row top-margin">
    <div class="col-md-4 offset-md-2">
        <div class="text-center">
        <p>
            <h1>
                Potřebujete naplánovat turnaj v kulečníku?
            </h1>
            Pak jste tady správně! Nenechte si ujít příležitost a využijte naše služby. Zorganizovat turnaj nebylo nikdy lehčí!
            Stačí se pouze zaregistrovat a vytvořit turnaj, kam se ostatní mohou přihlásit. Učinit tak můžete ihned! Registrace je zdarma.
        </p>
        </div>
        <a href="/register/" class="btn btn-outline-dark btn-lg center-block">Zaregistrovat</a>
    </div>
    <div class="col-md-4">
        <img src="{% static 'Kulecnik/billiard.jpg' %}" alt="" style="height: 300px;"/>
    </div>
</div>
{% endblock %}