<style>
    table {
      overflow: hidden;
    }
    th, td {
      text-align: center;
      padding: 18px;
    }
    .paperStyle {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .center {
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -100px;
    }
</style>

{% extends 'base.html' %}
{% block content %}
  <table class="center">
    <tr>
      <td>
      <div class="card paperStyle">
<table>
            <tr>
                <th><h3 style="text-align:center"><b><font color="#000000">Kapitán v týmech:</font></b></h3></th>
            </tr>
            {% for team in teams_c %}
            <tr>
                <td>
                    <b><a style="color:##28a745" href="/team/{{ team.id }}/">{{ team.name }}</a></b>
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
      </td>
      <td>
      <div class="card paperStyle">
       <table>
            <tr>
                <th><h3 style="text-align:center"><b><font color="#000000">Řadový hráč v týmech:</font></b></h3></th>
            </tr>
            {% for team in teams_p %}
            <tr>
                <td>
                    <b><a style="color:#90ee02" href="/team/{{ team.id }}/">{{ team.name }}</a></b>
                </td>
            </tr>
            {% endfor %}
        </table>
                </div>
      </td>
    </tr>
  </table>

{% endblock %}