<style>
    table {
      overflow: hidden;
    }
    th, td {
      text-align: center;
      padding: 18px;
    }
    .paperStyle {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .center {
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
</style>

{% extends 'base.html' %}
{% block content %}
<div class="center">
  <table>
    <tr>
      <td style="width: 22%;">
      <div class="card paperStyle">
<table align="center">
            <tr>
                <th><h3 style="text-align:center"><b><font color="#000000">Kapitánem v týmech:</font></b></h3></th>
            </tr>
            {% for team in teams_c %}
            <tr>
                <td>
                    <b><a style="color:#28a745" href="/team/{{ team.id }}/">{{ team.name }}</a></b>
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
      </td>
      <td style="width: 22%;">
      <div class="card paperStyle">
       <table align="center">
            <tr>
                <th><h3 style="text-align:center"><b><font color="#000000">Řadovým hráčem v týmech:</font></b></h3></th>
            </tr>
            {% for team in teams_p %}
            <tr>
                <td>
                    <b><a style="color:#90ee02" href="/team/{{ team.id }}/">{{ team.name }}</a></b>
                </td>
            </tr>
            {% endfor %}
        </table>
                </div>
      </td>
    </tr>
  </table>
</div>

{% endblock %}