<style>
    .center {
        position: fixed;
        top: 50%;
        left: 50%;
        align-items: center;
        margin-top: -50px;
        margin-left: -100px;
    }
</style>

{% extends 'base.html' %}
{% block content %}

<br>
<p align="center" style="font-size:200%;margin-bottom:5cm"><b>Vytvoření  týmu</b></p>
<br>
<form method="post">
    {% csrf_token %}
    <div class="center">
        <p align="center"><b>{{ form.name.label }}</b></p>
        <p align="center">{{ form.name }}</p> 
        <p align="center"><button align="middle" type="submit" class="btn btn-outline-success">Vytvořit</button></p> 
    </div>
</form>
{% if success %}
    <p style="color: green;">{{ success }}</p>
{% endif %}
{% if failure %}
    <p style="color: red;">{{ failure }}</p>
{% endif %}
{% endblock %}