{% extends 'base.html' %}
{% block content %}
<style>
    label[for="id_logo"] {
        width: 8rem;
        background-color:#5994ff;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        color:white;
        font-size: larger;
        cursor: pointer;
    }
    input[type="file"] {
            display: none;
    }
</style>
<div class="row" style="padding-top: 7rem;">
    <div class="col-md-4 offset-md-4">
        <div style="text-align: center;">
            <table>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <h2>Tým: {{ team.name }}</h2>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;"><b>Kapitán:</b></td>
                    <td><a href="/profile_page/{{ team.captain.id }}/">{{ team.captain.username }}</a></td>
                </tr>
                <tr>
                        <td style="text-align: right;"><b>Druhý hráč:</b></td>
                        <td><a href="/profile_page/{{ team.player.id }}/">{{ team.player.username }}</a></td>
                </tr>
                {% if user.id == team.captain.id %}
                <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            {% if team.player %}
                            <a href="/team/{{ team.id }}/removeplayer/"><button type="submit" class="btn btn-outline-danger">Odebrat hráče</button></a>
                            {% else %}
                            <a href="/team/{{ team.id }}/addplayer/"><button type="submit" class="btn btn-outline-success">Přidat hráče</button></a>
                            {% endif %}
                        </td>
                </tr>
                {% endif %}
                {% if user.id == team.captain.id %}
                <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a href="/team/{{ team.id }}/delete/"><button type="submit" class="btn btn-danger">Smazat tým</button></a>
                        </td>
                </tr>
                {% endif %}
                {% if user.id == team.player.id %}
                <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a href="/team/{{ team.id }}/leave/"><button type="submit" class="btn btn-outline-danger">Opustit tým</button></a>
                        </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {{ logo.as_p }}
        <div class="center" style="text-align: center;">
                <button type="submit" align="center" style="text-align: center; min-width: 8rem; max-width: 8rem;" class="btn btn-outline-success">Uložit změny</button>
        </div>
    </form>
</div>
{% endblock %}