{% extends 'base.html' %}
{% block content %}
<div class="row" style="padding-top: 7rem;">
    <div class="col-md-4 offset-md-4">
        <div style="text-align: center;">
            <table>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <h2>Tým: {{ team.name }}</h2>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;"><b>Kapitán:</b></td>
                    <td><a href="/profile_page/{{ team.captain.id }}/">{{ team.captain.username }}</a></td>
                </tr>
                <tr>
                        <td style="text-align: right;"><b>Druhý hráč:</b></td>
                        <td><a href="/profile_page/{{ team.player.id }}/">{{ team.player.username }}</a></td>
                </tr>
                {% if user.id == team.captain.id %}
                <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a href="/team/{{ team.id }}/addplayer/"></a><button type="submit" class="btn btn-outline-success">Přidat hráče</button>
                        </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}