{% extends 'base.html' %}
{% block content %}
<div class="row" style="margin-top: 5rem;">
    <div class="col-md-6 offset-md-3">
        <p>
            <h1 style="text-align: center;">{{tournament.title}}</h1><br>
            <h3>{{tournament.start_date|date:"j.n.Y"}} - {{tournament.end_date|date:"j.n.Y"}}</h3>
        </p>
        <p>
            {{tournament.description}}
        </p>
        <p>
            {{ucastnici}} (max.: {{tournament.capacity}})
        </p>

    </div>
</div>
{% endblock %}
