{% extends 'base.html' %}

{% block content %}

<style>
        table {
            border-collapse: collapse;
            overflow: hidden;
            border-radius: 5px;
            width: 25rem;
        }
        
        th, td {
            background: #343a40;
            padding: 12px;
            border-bottom: 2px solid white; 
        }
    
        caption {
            display: table-caption;
            font-size: larger;
            color: #343a40;
            text-align: center;
            caption-side: top;
            padding-bottom: 0.33rem;
        }

        a {
            color: white;
        }
    
    </style>

<div class="row" style="margin-top: 5rem;">

    <div class="col">

        <div class="center" style="text-align: center; margin-top: 2rem;">

            <table align="center">
                <caption>Potvrzení rozhodčí</caption>
                {% for row in rozhodci %}
                {% if row.registered %}
                <tr>
                    <td>
                        <a href="/profile_page/{{ row.referee.id }}/">{{ row.referee.username }}</a>
                    </td>
                    <td>
                        <a href="/tournament_t/{{ tournament.id }}/refunreg/{{ row.referee.id }}">
                            <input type="button" class="btn btn-danger" value="Odebrat">
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>

            <br>
            <br>

            {% if ucast.count != 0 %}
            <table align="center">
                <caption>Potvrzené týmy</caption>
                {% for row in ucast %}
                {% if row.registered %}
                <tr>
                    <td>
                        <a href="/team/{{ row.team.pk }}/">{{ row.team.name }}</a>
                    </td>
                    {% if tournament.host.id == user.id or user.is_superuser%}
                    <td>
                        <a href="/{{ tournament.id }}/deny_t/{{ row.team.id }}/">
                            <input type="button" class="btn btn-outline-danger" value="Odebrat">
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endif %}
            {% endfor %}
            </table>
            {% endif %}

        </div>

    </div> <!--Ending left column-->

    <div class="col-5">

        <div class="center" style="text-align: center;">

            <p>
                <h1 style="text-align: center;font-weight: bold;">{{tournament.title}}</h1><br>
                <h4 style="text-align: center;">{{tournament.start_date|date:"j.n.Y"}} - {{tournament.end_date|date:"j.n.Y"}}</h3>
            </p>
                
            <p>
                {{tournament.description}}
            </p>

            <p>
                {{ucastnici}} (max.: {{tournament.capacity}})
            </p>

            <p>
                Obsazenost turnaje: {{pocet}}/{{tournament.capacity}}
            </p>

        {% if user.is_authenticated %}
        {% if is_past %}
        {% else %}
        {% if player_teams.count != 0 %}
        {% if registered %}

        <p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="registrovan" name="registrovan" value="yes">
                <button type="submit" style="min-width: 12rem; max-width: 12rem;" align="center" class="btn btn-outline-success">Odregistruj</button>
            </form>
        </p>

        {% else %}
        {% if pocet == tournament.capacity %}
        {% else %}

        <p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="registrovan" name="registrovan" value="no">  
                <div style="margin: 0 auto; width:100px; text-align:left;"> <!--TODO-->
                    {% for row in player_teams %}
                    <input type="radio" id="team" name="team" value={{row.id}}> {{row.name}}<br>
                    {% endfor %}
                </div>  
                <button type="submit" style="min-width: 12rem; max-width: 12rem;" align="center" class="btn btn-outline-success">Přihlásit tým</button>
            </form>
        </p>
        
        {% endif %}
        {% endif %}
        {% endif %}

        {% if if_referee %}

        <p>
            <a href="/tournament_t/{{ tournament.id }}/refunreg/{{ user.id }}/">
                <input type="button" class="btn btn-outline-danger" value="Odregistrovat jako rozhodčí">
            </a>
            Jsi registrován jako rozhodčí
        </p>

        {% else %}

        <p>
            <a href="/tournament_t/{{ tournament.id }}/refreg/{{ user.id }}/">
                <input type="button" class="btn btn-outline-success" value="Registrovat jako rozhodčí">
            </a>
        </p>

        {% endif %}
        {% endif %}
        {% endif %}
        
        {% if tournament.host.id == user.id or user.is_superuser%}
        {% if is_past %}

        <div class="center" style="text-align: center;">
            <a href="/generate/{{ tournament.id }}/"><button style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-primary">Generovat hry</button></a>
        </div>

        {% else %}

        <div class="center" style="text-align: center;">
            <a href="#"><button style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-light">Generovat hry</button></a>
        </div>

        {% endif %}
        {% endif %}

        {% if is_past %}

        <div class="center" style="text-align: center;">
            <a href="/bracket/{{ tournament.id }}/"><button style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-primary">Zobrazit pavouka</button></a>
        </div>

        <div class="center" style="text-align: center;">
            <a href="/games_t/{{ tournament.id }}/"><button style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-primary">Zobrazit hry</button></a>
        </div>

        {% else %}

        <div class="center" style="text-align: center;">
            <a href="#"><button style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-light">Zobrazit pavouka</button></a>
        </div>

        <div class="center" style="text-align: center;">
            <a href="#"><button style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-light">Zobrazit hry</button></a>
        </div>

        {% endif %}

        </div> 

    </div> <!--Ending center-column-->

    <div class="col">
        
        <div class="center" style="text-align: center; margin-top: 2rem;">
            {% if user.id == tournament.host.id or user.is_superuser %}
            
            <table align="center">
                <caption>Žádosti týmů</caption>
                {% for row in ucast %}
                {% if row.registered %}
                {% else %}
                    <tr>
                        <td>
                            <a href="/team/{{ row.team.pk }}/">{{ row.team.name }}</a>
                        </td>
                        {% if tournament.host.id == user.id or user.is_superuser%}
                        <td>
                            <a href="/{{ tournament.id }}/confirm_t/{{ row.team.id }}/">
                                <input type="button" class="btn btn-outline-success" value="Potvrdit">
                            </a>
                        </td>
                        <td>
                            <a href="/{{ tournament.id }}/deny_t/{{ row.team.id }}/">
                                <input type="button" class="btn btn-outline-danger" value="Zamítnout">
                            </a>
                        </td>
                        {% endif %}    
                    </tr>
                {% endif %}
                {% endfor %}
            </table>
        
            <br>
            <br>
        
            <table align="center">
                <caption>Žádosti rozhodčích</caption>
                {% for row in rozhodci %}
                {% if row.registered %}
                {% else %}
                <tr>
                    <td>
                        <a href="/profile_page/{{ row.referee.id }}/">{{ row.referee.username }}</a>
                    </td>
                    <td>
                        <a href="/tournament_t/{{ tournament.id }}/refconfirm/{{ row.referee.id }}"><input type="button" class="btn btn-success" value="Potvrdit"></a>
                    </td>
                    <td>
                        <a href="/tournament_t/{{ tournament.id }}/refunreg/{{ row.referee.id }}"><input type="button" class="btn btn-danger" value="Zamítnout"></a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
            
            {% endif %}
        
        </div>

    </div>
    
</div>

{% endblock %}
