{% extends 'base.html' %}

{% block content %}

<style>

        table {
            border-collapse: collapse;
            overflow: hidden;
            border-radius: 5px;
            width: 25rem;
        }
        
        th, td {
            background: #343a40;
            padding: 12px;
            border-bottom: 2px solid white; 
        }
    
        caption {
            display: table-caption;
            font-size: larger;
            color: #343a40;
            text-align: center;
            caption-side: top;
            padding-bottom: 0.33rem;
        }

        a {
            color: white;
        }

        button {
            margin-bottom: 2px;
        }
 
</style>

<div class="row" style="margin-top: 5rem;">

    <div class="col">

        <div class="center" style="text-align: center; margin-top: 2rem;">

            <table align="center">
                <caption>Potvrzení hráči</caption>
                {% for row in ucast %}
                {% if row.registered %}
                <tr>
                    <td>
                        <a href="/profile_page/{{ row.player.pk }}/">{{ row.player.username }}</a>
                    </td>
                    {% if tournament.host.id == user.id or user.is_superuser%}
                    <td>
                        <a href="/tournament_s/{{ tournament.id }}/deny_s/{{ row.player.id }}/">
                            <input type="button" class="btn btn-outline-danger" value="Odebrat">
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endif %}
            {% endfor %}
            </table>

            <br>
            <br>

            <table align="center">
                <caption>Potvrzení rozhodčí</caption>
                {% for row in rozhodci %}
                {% if row.registered %}
                <tr>
                    <td>
                        <a href="/profile_page/{{ row.referee.id }}/">{{ row.referee.username }}</a>
                    </td>
                    <td>
                        <a href="/tournament_s/{{ tournament.id }}/refunreg/{{ row.referee.id }}">
                            <input type="button" class="btn btn-danger" value="Odebrat">
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>

        </div>

    </div> <!--Ending left column-->

    <div class="col-md-5">

        <div class="center" style="text-align: center;">

            <div style="display: inline-block; text-align: left;">
                <p>
                    <h1 style="text-align: center;font-weight: bold;">{{tournament.title}}</h1>
                    <br>
                    <h3 style="text-align: center;">{{tournament.start_date|date:"j.n.Y"}} - {{tournament.end_date|date:"j.n.Y"}}</h3>
                </p>

                <p>
                    <b>&nbsp;&nbsp;Popis:</b> {{tournament.description}}
                </p>

                <p>
                    <b>&nbsp;&nbsp;Kapacita:</b> {{tournament.capacity}} hráčů
                </p>

                <p>
                    <b>&nbsp;&nbsp;Obsazenost turnaje:</b> {{pocet}}/{{tournament.capacity}}
                </p>

                <p>
                    <b>&nbsp;&nbsp;Pořadatel:</b> <a style="color: black;" href="/profile_page/{{ tournament.host.id }}">{{ tournament.host.username }}</a>
                </p>

                <p>
                    <b>&nbsp;&nbsp;Konec registrací:</b> {{tournament.reg_deadline |date:"j.n.Y"}}
                </p>

            </div>
            
        {% if tournament.is_past_reg %}
        {% else %}
        {% if user.is_authenticated %}
        {% if registered %}
        <p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="registrovan" name="registrovan" value="yes">
                <button type="submit" align="center" class="btn btn-outline-danger">Odregistruj</button>
            </form>
        </p>
        {% else %}
        <p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="registrovan" name="registrovan" value="no">
                <button type="submit" align="center" class="btn btn-outline-success">Registruj</button>
            </form>
        </p>
        {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
        {% if if_referee %}
        <p>
            <a href="/tournament_s/{{ tournament.id }}/refunreg/{{ user.id }}/">
                <input type="button" class="btn btn-outline-danger" value="Odregistrovat jako rozhodčí">
            </a>
            Jsi registrován jako rozhodčí
        </p>
        {% else %}
        <p>
            <a href="/tournament_s/{{ tournament.id }}/refreg/{{ user.id }}/">
                <input type="button" class="btn btn-outline-success" value="Registrovat jako rozhodčí">
            </a>
        </p>
        {% endif %}
        {% endif %}
        {% endif %}
        {% if tournament.host.id == user.id or user.is_superuser%}
        {% if is_past %}
        <div class="center" style="text-align: center;">
            <a href="/generate_s/{{ tournament.id }}/"><button style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-primary">Generovat hry</button></a>
        </div>
        {% else %}
        <div class="center" style="text-align: center;">
                <a href="#"><button style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-light">Generovat hry</button></a>
        </div>
        {% endif %}
        {% endif %}
        {% if is_past %}
        <div class="center" style="text-align: center;">
                <a href="/bracket_s/{{ tournament.id }}/"><button style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-primary">Zobrazit pavouka</button></a>
        </div>
        <div class="center" style="text-align: center;">
                <a href="/games_s/{{ tournament.id }}/"><button style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-primary">Zobrazit hry</button></a>
        </div>
        {% else %}
        <div class="center" style="text-align: center;">
                <a href="#"><button style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-light">Zobrazit pavouka</button></a>
        </div>
        <div class="center" style="text-align: center;">
                <a href="#"><button style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-light">Zobrazit hry</button></a>
        </div>
        {% endif %}
        </div>
    </div>
    
    <div class="col">
        {% if user.id == tournament.host.id or user.is_superuser %}

        <h3>Žádosti o registraci</h3>
        <br>
        <table style="background-color: #FFC300;">
            {% for row in ucast %}
            {% if row.registered %}
            {% else %}
                <tr>
                    <td>
                        <a href="/profile_page/{{ row.player.pk }}/">{{ row.player.username }}</a>
                    </td>
                    {% if tournament.host.id == user.id or user.is_superuser%}
                    <td>
                        <a href="/tournament_s/{{ tournament.id }}/confirm_s/{{ row.player.id }}/">
                            <input type="button" class="btn btn-outline-success" value="Potvrdit">
                        </a>
                    </td>
                    <td>
                        <a href="/tournament_s/{{ tournament.id }}/deny_s/{{ row.player.id }}/">
                            <input type="button" class="btn btn-outline-danger" value="Zamítnout">
                        </a>
                    </td>
                    {% endif %}    
                </tr>
            {% endif %}
            {% endfor %}
        </table>

        <h3>Žádosti rozhodčích</h3>
        <table>
            {% for row in rozhodci %}
            {% if row.registered %}
            {% else %}
            <tr>
                <td>
                    <a href="/profile_page/{{ row.referee.id }}/">{{ row.referee.username }}</a>
                </td>
                <td>
                    <a href="/tournament_s/{{ tournament.id }}/refconfirm/{{ row.referee.id }}"><input type="button" class="btn btn-success" value="Potvrdit"></a>
                </td>
                <td>
                    <a href="/tournament_s/{{ tournament.id }}/refunreg/{{ row.referee.id }}"><input type="button" class="btn btn-danger" value="Zamítnout"></a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        {% endif %}

    </div>
</div>

{% endblock %}
