<style>
    table {
      border-collapse: collapse;
      overflow: hidden;
      border-radius: 1em;
    }
    
    th, td {
      background: #FFDFDF;
      padding: 12px;
      border-bottom: 2px solid white; 
    }
</style>



{% extends 'base.html' %}
{% block content %}
<div class="row" style="margin-top: 5rem;">
    <div class="col-md-6 offset-md-3">
        <p>
            <h1 style="text-align: center;font-weight: bold;">{{tournament.title}}</h1><br>
            <h4>{{tournament.start_date|date:"j.n.Y"}} - {{tournament.end_date|date:"j.n.Y"}}</h4>
        </p>
        <p>
            <b>Popis: </b>{{tournament.description}}
        </p>
        <p>
            <b>Kapacita:</b> {{tournament.capacity}} hráčů
        </p>
        <p>
            <b>Obsazenost turnaje:</b> {{pocet}}/{{tournament.capacity}}
        </p>
        <p>
            <b>Pořadatel:</b> <a href="/profile_page/{{ tournament.host.id }}">{{ tournament.host.username }}</a>
        </p>
        {% if user.id == tournament.host.id %}
        {% else %}
        {% if user.is_authenticated %}
        {% if registered %}
        <p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="registrovan" name="registrovan" value="yes">
                <button type="submit" align="center" class="btn btn-outline-success">Odregistruj</button>
            </form>
        </p>
        {% else %}
        <p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="registrovan" name="registrovan" value="no">
                <button type="submit" align="center" class="btn btn-outline-success">Registruj</button>
            </form>
        </p>
        {% endif %}
        {% endif %}
        {% endif %}
    </div>
</div>
<div class="row" style="margin-top: 5rem;">
    <div class="col-md-3 offset-md-3">
            <h3>Registrovaní hráči</h3>
            <br>
            <table>
            {% for row in ucast %}
            {% if row.registered %}
                <tr>
                    <td>
                        <a href="/profile_page/{{ row.player.pk }}/">{{ row.player.username }}</a>
                    </td>
                    <td>
                        <a href="/tournament_s/{{ tournament.id }}/deny_s/{{ row.player.id }}/">
                            <input type="button" class="btn btn-outline-danger" value="Odebrat">
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </table>
    </div>
    <div class="col-md-3">
            <h3>Žádosti o registraci</h3>
            <br>
            <table style="background-color: #FFC300;">
                {% for row in ucast %}
                {% if row.registered %}
                {% else %}
                    <tr>
                        <td>
                            <a href="/profile_page/{{ row.player.pk }}/">{{ row.player.username }}</a>
                        </td>
                        {% if tournament.host.id == user.id %}
                        <td>
                            <a href="/tournament_s/{{ tournament.id }}/confirm_s/{{ row.player.id }}/">
                                <input type="button" class="btn btn-outline-success" value="Potvrdit">
                            </a>
                        </td>
                        <td>
                            <a href="/tournament_s/{{ tournament.id }}/deny_s/{{ row.player.id }}/">
                                <input type="button" class="btn btn-outline-danger" value="Zamítnout">
                            </a>
                        </td>
                        {% endif %}    
                    </tr>
                {% endif %}
                {% endfor %}
            </table>
    </div>
</div>
{% endblock %}
