{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-4 offset-md-4">

            <h1 align="center">Turnaje jednotlivců</h1><br>
        <table align="center" cellpadding = "5" cellspacing = "5">
            <tr>
                <td><b>Název turnaje</b></td>
                <td width="30%"><b>Konec Registrací</b></td>
                <td><b>Obsazenost</b></td>
            </tr>

            {% for row in data %}
            <tr>
                <td><a href="/tournament_s/{{ row.pk }}/">{{ row.title }}</a></td>
                <td>{{row.reg_deadline}}</td>
                <td>x/{{row.capacity}}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>
{% endblock %}