{% extends 'base.html' %}
{% block content %}

<style type="text/css">
    td {
        padding:0 20px 0 20px;
        text-align: center; 
        vertical-align: middle;
    }
    table {
        border-collapse: collapse;
        overflow: hidden;
        border-radius: 1em;
    }
    tr:nth-child(odd) {
    	background: #dcefdd;
    }
    tr:first-child {
    	background-color: #388E3C;
        color: white;
	}
    .paperStyle {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
</style>

    <br>
    <br>
        <div style="display: table; margin: auto; padding: 25px;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);width:40%;padding: 75px;">
            <h1 align="center"><b>Turnaje jednotlivců</b></h1><br>
            <br><br>
            <table align="center" width="100%" cellpadding = "5" cellspacing = "5">
                <tr>
                    <td><b>Název turnaje</b></td>
                    <td><b>Začátek turnaje</b></td>
                    <td><b>Konec registrací</b></td>
                </tr>

                {% for row in data %}
                <tr>
                    <td><a href="/tournament_s/{{ row.pk }}/">{{ row.title }}</a></td>
                    <td>{{row.start_date|date:"j.n.Y"}}</td>
                    <td>{{row.reg_deadline|date:"j.n.Y"}}</td>
                </tr>
                {% endfor %}
            </table>
        <div>
{% endblock %}