{% extends 'base.html' %}
{% block content %}
<div class="row" style="margin-top: 5rem;">
    <div class="col-md-6 offset-md-3">
        <p>
            <h1 style="text-align: center;">{{tournament.title}}</h1><br>
            <h3>{{tournament.start_date|date:"j.n.Y"}} - {{tournament.end_date|date:"j.n.Y"}}</h3>
        </p>
        <p>
            {{tournament.description}}
        </p>
        <p>
            {{ucastnici}} (max.: {{tournament.capacity}})
        </p>
        <p>
            Obsazenost turnaje: {{ucast.count}}/{{tournament.capacity}}
        </p>
        {% if user.is_authenticated %}
        {% if player_teams.count != 0 %}
        {% if registered %}
        <p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="registrovan" name="registrovan" value="yes">
                <button type="submit" align="center" class="btn btn-outline-success">Odregistruj</button>
            </form>
        </p>
        {% else %}
        {% if ucast.count == tournament.capacity %}
        {% else %}
        <p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="registrovan" name="registrovan" value="no">     
        {% for row in player_teams %}
                <input type="radio" id="team" name="team" value={{row.id}}> {{row.name}}<br>
        {% endfor %}
            <button type="submit" align="center" class="btn btn-outline-success">Přihlásit tým</button>
            </form>
        </p>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        
        <div class="center" style="text-align: center;">
            <a href="/generate/{{ tournament.id }}/"><button style="text-align: center;" class="btn btn-outline-success">Generovat hry</button></a>
        </div>
        <div class="center" style="text-align: center;">
                <a href="/bracket/{{ tournament.id }}/"><button style="text-align: center;" class="btn btn-outline-success">Juknout na pavouka</button></a>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 5rem;">
    <div class="col-md-4 offset-md-3" style>
            <h3>Registrovaní hráči</h3>
            <br>
            <table>
            {% for row in ucast %}
            {% if row.registered %}
                <tr>
                    <td>
                        <a href="/team/{{ row.team.pk }}/">{{ row.team.name }}</a>
                    </td>
                    <td>
                        <a href="/{{ tournament.id }}/deny_t/{{ row.team.id }}/">
                            <input type="button" class="btn btn-outline-danger" value="Odebrat">
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </table>
    </div>

<div class="col-md-4">
            <h3>Žádosti o registraci</h3>
            <br>
            <table>
                {% for row in ucast %}
                {% if row.registered %}
                {% else %}
                    <tr>
                        <td>
                            <a href="/team/{{ row.team.pk }}/">{{ row.team.name }}</a>
                        </td>
                        {% if tournament.host.id == user.id %}
                        <td>
                            <a href="/{{ tournament.id }}/confirm_t/{{ row.team.id }}/">
                                <input type="button" class="btn btn-outline-success" value="Potvrdit">
                            </a>
                        </td>
                        <td>
                            <a href="/{{ tournament.id }}/deny_t/{{ row.team.id }}/">
                                <input type="button" class="btn btn-outline-danger" value="Zamítnout">
                            </a>
                        </td>
                        {% endif %}    
                    </tr>
                {% endif %}
                {% endfor %}
            </table>
    </div>
</div>
{% endblock %}
