{% extends 'base.html' %}
{% block content %}

<div class="row" style="margin-top: 5rem;">
    <div class="col-md-4 offset-md-4">
        <form method="post" action="/login/" style="display: table; margin: auto; padding: 75px;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
            <h1>Přihlášení</h1><br>
            {% csrf_token %}
            <p>
                <label for="username">Přihlašovací jméno:</label><br>
                <input type="text" name="username" placeholder="username">
            </p>
            <p>
                <label for="password">Heslo:</label><br>
                <input type="password" name="password">
            </p>
            <p align="center"><input type="submit" class="btn btn-outline-success" value="Přihlásit" /></p>
        </form>
    </div>
</div>


{% endblock %}