{% extends 'base.html' %}

{% block head %}
<title>Upravit heslo</title>
{% endblock %}

{% block content %}
<style>
    label[for="id_image"] {
        width: 12rem;
        background-color:#5994ff;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        color:white;
        font-weight: bold;
        cursor: pointer;
    }
    input[type="file"] {
            display: none;
    }
</style>



<form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <p align="center" style="font-size:200%;"><b>Změna uživatelských údajů</b></p>
        <br>
    <table align="center">
        {% for field in form %}
         {% if field.label == 'Password' %}
         {% else %}
          <tr>
              <td  align="left"> <b> {{ field.label }}</b></td>
              <td>&nbsp;&nbsp;</td>
              
          </tr>
          <tr><td align="center">{{field}}</td></tr>
          <tr>
            <td>&nbsp</td>
          </tr>
          {% endif %}
        {% endfor %} 
             
      </table>
      <div class="center" style="text-align: center;">
          {{picture}}
      </div>
      <div class="center" style="text-align: center;">
          <button type="submit" align="center" style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-success">Uložit změny</button>
      </div>
       
</form>
<br>
<div class="center" style="text-align: center;">
    <a href="/profile/edit/password/"><button style="text-align: center; min-width: 12rem; max-width: 12rem;" class="btn btn-outline-primary">Změna hesla</button></a>
</div>

{% endblock %}