{% extends 'base.html' %}

{% block head %}
<title>Upravit heslo</title>
{% endblock %}

{% block content %}



<form method='post'>
        {% csrf_token %}
        <br>
        <p align="center" style="font-size:200%;"><b>Změna uživatelských údajů</b></p>
        <br>
    <table align="center">
        {% for field in form %}
        
          <tr>
              <td  align="right"> <b> {{ field.label }}</b></td>
              <td>&nbsp;&nbsp;</td>
              <td>{{ field }}</td>
          </tr>
          <tr>
            <td>&nbsp</td>
          </tr>

        {% endfor %}
        
        <tr>
            <td></td>
            <td></td>
            <td><button type="submit" align="center" class="btn btn-outline-success">Uložit změny</button></td>
        </tr>
        {% if string %}
        {% if string == "error" %}
        <tr>
            <td></td>
            <td></td>
            <td align="center" style="color:crimson;font-size: larger;">Špatné heslo!</td>
        </tr>
        {% endif %}
        {% endif %} 
      </table>
      
    </form>
{% endblock %}