{% extends 'base.html' %}

{% block head %}
<title>Profil</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h3 style="text-align: center; padding-top: 3rem;">{{ user.username }}</h3>
        <div class="img-container" style="text-align: center; padding-top: 2rem;">
            <img class = "rounded-circle account-img" src = "{{user.profile.image.url}}" width="100px">    
        </div>

        <table style="margin-top:50px; margin-left:auto; margin-right:auto">
            <tr>
                    <td  align="right"> <b> Křestní jméno: </b></td>
                    <td>&nbsp;&nbsp;</td>
                    <td>{{user.first_name}}</td>
            </tr>
            <tr>
                    <td align="right"> <b> Příjmení: </b></td>
                    <td>&nbsp;&nbsp;</td>
                    <td>{{user.last_name}}</td>
            </tr>
        </table>

        <br>

        <div class="center" style="text-align: center;">
                <a href="/profile/edit/"><button style="text-align: center;" class="btn btn-outline-success">Upravit</button></a>
        </div>
        <br>
    </div>
    <div class="col">
        <h4 style="padding-top: 5rem;">Statistiky</h3>
        <table>
            <col width="20rem">
            <col width="20rem">
            <tr>
                <td colspan="2" style="text-align: center;"><b>Turnaje</b></td>
            </tr>
            <tr>
                <td style="text-align: left; width: ;">Počet vyhraných:</td>
                <td>{{ won_tournaments }}</td>
            </tr>
            <tr>
                <td style="text-align: left;">Procento vyhraných:</td>
                <td>{{ tournament_winrate }}%</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"><b>Zápasy</b></td>
            </tr>
            <tr>
                <td style="text-align: left;">Počet vyhraných:</td>
                <td>{{ won_games }}</td>
            </tr>
            <tr>
                <td style="text-align: left;">Procento vyhraných:</td>
                <td>{{ game_winrate }}%</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 style="text-align: center;">Turnaje jednotlivců</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div style="text-align: center;">
            <h3>Odpořádané turnaje</h3>
            <table align="center" border="1" style="table-layout: fixed; width: 25rem; border-collapse: collapse;">
                <tr>
                    <th>Turnaj</th>
                    <th>Konec:</th>
                </tr>
                {% for row in poradane %}
                {% if row.is_past_end %}
                <tr>
                    <td>
                        <a href="/tournament_s/{{ row.id }}/">{{ row.title }}</a>
                    </td>
                    <td>
                        {{ row.end_date|date:"j.n.Y" }}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div style="text-align: center;">
            <h3>Aktuálně pořádané turnaje</h3>
            <table align="center" border="1" style="table-layout: fixed; width: 25rem; border-collapse: collapse;">
                <tr>
                    <th>Turnaj</th>
                    <th>Začátek:</th>
                </tr>
                {% for row in poradane %}
                {% if row.is_past_end %}
                {% else %}
                <tr>
                    <td>
                        <a href="/tournament_s/{{ row.id }}/">{{ row.title }}</a>
                    </td>
                    <td>
                        {{ row.start_date|date:"j.n.Y" }}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-md-6">
                <div style="text-align: center;">
                    <h3>Uběhlé turnaje, kde jsem se účastnil</h3>
                    <table align="center" border="1" style="table-layout: fixed; width: 25rem; border-collapse: collapse;">
                        <tr>
                            <th>Turnaj</th>
                            <th>Konec:</th>
                        </tr>
                        {% for row in ucastnene %}
                        {% if row.tournament.is_past_end %}
                        <tr>
                            <td>
                                <a href="/tournament_s/{{ row.tournament.id }}/">{{ row.tournament.title }}</a>
                            </td>
                            <td>
                                {{ row.tournament.end_date|date:"j.n.Y" }}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div style="text-align: center;">
                    <h3>Turnaje, kterých se účastním</h3>
                    <table align="center" border="1" style="table-layout: fixed; width: 25rem; border-collapse: collapse;">
                        <tr>
                            <th>Turnaj</th>
                            <th>Začátek:</th>
                        </tr>
                        {% for row in ucastnene %}
                        {% if row.tournament.is_past_end %}
                        {% else %}
                        <tr>
                            <td>
                                <a href="/tournament_s/{{ row.tournament.id }}/">{{ row.tournament.title }}</a>
                            </td>
                            <td>
                                {{ row.tournament.start_date|date:"j.n.Y" }}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 style="text-align: center;">Turnaje týmů</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div style="text-align: center;">
            <h3>Odpořádané turnaje</h3>
            <table align="center" border="1" style="table-layout: fixed; width: 25rem; border-collapse: collapse;">
                <tr>
                    <th>Turnaj</th>
                    <th>Konec:</th>
                </tr>
                {% for row in tymy_poradane %}
                {% if row.is_past_end %}
                <tr>
                    <td>
                        <a href="/tournament_t/{{ row.id }}/">{{ row.title }}</a>
                    </td>
                    <td>
                        {{ row.end_date|date:"j.n.Y" }}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div style="text-align: center;">
            <h3>Aktuálně pořádané turnaje</h3>
            <table align="center" border="1" style="table-layout: fixed; width: 25rem; border-collapse: collapse;">
                <tr>
                    <th>Turnaj</th>
                    <th>Začátek:</th>
                </tr>
                {% for row in tymy_poradane %}
                {% if row.is_past_end %}
                {% else %}
                <tr>
                    <td>
                        <a href="/tournament_t/{{ row.id }}/">{{ row.title }}</a>
                    </td>
                    <td>
                        {{ row.start_date|date:"j.n.Y" }}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>



{% endblock %}
