{% extends 'base.html' %}

{% block head %}
<title>Profil</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="img-container" style="text-align: center; padding-top: 10rem;">
            <img class = "rounded-circle account-img" src = "{{user.profile.image.url}}" width="100px">    
        </div>
        <table style="margin-top:50px; margin-left:50px;">
            <tr>
                    <td  align="right"> <b> Křestní jméno: </b></td>
                    <td>&nbsp;&nbsp;</td>
                    <td>{{user.first_name}}</td>
            </tr>
            <tr>
                    <td align="right"> <b> Příjmení: </b></td>
                    <td>&nbsp;&nbsp;</td>
                    <td>{{user.last_name}}</td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;</td>
                <td><a href="/profile/edit/"><button class="btn btn-outline-success">Upravit</button></a></td>
            </tr>
        </table>
        {% for tournament in my_tournaments_t %}
            <p>{{tournament.title}}</p>
            {% if my_tournaments_t_link.count != 0 %}
                <div class="list-group">
            {% for team in my_tournaments_t_link %}
                    
                    <a href="/{{tournament.id}}/confirm/{{player.id}}/" class="list-group-item list-group-item-action">{{team.team.name}}</a>
                    
            {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
